body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #2c2c54;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2, h3 {
  color: #40407a;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}


p {
  line-height: 2;
}

hr {
  border: dotted #2c2c54 6px;
  border-bottom: none;
  width: 4%;
  margin: 50px auto;
}

a{
  color: #2c2c54;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: black;
}

.top-container {
  background-color: #f7f1e3;
  position: relative;
  padding-top: 20px;
}

.middle-container {
  margin: 100px 0;
}
@media screen and (min-width: 981px) {
  .skill-row {
    height: 240px;
  }
}

.skill-row {
  width: 60%;
  margin: 0 auto;
  text-align: left;
  height: auto;
}

.intro {
  width: 30%;
  margin: auto;
}

#cute-picture{
  width: 15%;
}
@media screen and (max-width: 980px) {

  #time-element{
    font-size: 3rem;
  }

  .top-container{
    padding-top: 10%;
  }
  .nav-link, .sticky-bottom {
    font-size: 3rem;
  }
  .skill-row {
    width: 90%;
    height: 650px;
    margin: 20px auto;
    text-align: left;
  }
  
  .navbar-toggler-icon{
    height: 60px;
    width: 60px;
  }

  .intro {
    width: 60%;
    margin: auto;
  }

  h1 {
    font-size: 10rem;
  }

  h2 {
    font-size: 5rem;
  }

  h3 {
    font-size: 4rem;
  }

  p {
    font-size: 2rem;
  }
  #cute-picture{
    width: 30%;
  }

  .bottom-buttons{
    width: 60%;
    font-size: 3rem;
  }
  .carousel-control-prev-icon{
    visibility: hidden;
  }
  .carousel-control-next-icon{
    visibility: hidden;
  }
}

.pro {
  text-decoration: underline;
}



.title-text{
  padding-top: 2%;
}
.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.skills {
  background-color: #f7f1e3;
  padding: 20px 0;
}
.bottom-cloud {
  position:absolute;
  top:0;
  left:0;
}


#animation-div{
  position:relative;
  width: 512px;
  margin: 0 auto;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.left-img {
  float: left;
  margin-right: 30px;
}

.mobile-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

#bottom-alingmentext{
  margin: auto;
}

.carousel-control-prev-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%66c99' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); 
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%66c99' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

